* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/*COLOURS*/
/* brown: #704f33 */
/* green: #2e6139 */
/* cream: #fcf1e3 */ 
/* pink: #fed8df */
/* body text: #4a3e34 */

body {
  font-family: Garamond: serif;
  line-height: 2;
  background-color: #fcf1e3; 
  color: #4a3e34;
  padding-top: 45px;
/*border*/
  border: 20px solid #704f33; 
  margin: 0;
  box-sizing: border-box;
  border-left: 50px solid #704f33;
  border-right: 50px solid #704f33;

}

main {
padding-left: 120px;
padding-right: 120px;
max-width: 1000px;
margin: 0 auto;
}

/* HEADER */ 

header {
  position: sticky;
  top: 0;
  background-color: #fcf1e3;
  z-index: 1000;
}

.header-inner {
  max-width: 960px; /* match your site's main width */
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #133e1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left h1 {
  margin: 0;
  font-size: 48px;
}

.header-left h1 a {
  color: #133e1d;
  text-decoration: none;
  font-size: inherit;
}

.header-left h1 a:hover {
  color: #fed8df;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
}

.header-right nav ul li a {
  font-size: 18px;
  padding: 6px 10px;
  text-decoration: none;
  color: #704f33;
}

/* ---------------------- */

/* NAV BAR */ 

nav {
  align-self: flex-end;
  margin-top: 2px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 22px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: 17px;
  font-family: Garamond, serif;
}


nav ul li a {
  text-decoration: none;
  color: #704f33;
  padding: 5px 10px;
  border-radius: 5px;
}

nav ul li a.active {
  font-weight: bold;
  background-color:#133e1d;
  color:  #fcf1e3;
  padding: 10px 16px;
  border-radius: 8px;
  transition: background-color 0.3 ease;
}

/* -------------------- */ 

/* NAVIGATION BUTTONS */

.back-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.back-button a {
  text-decoration: none;
  color: #fcf1e3;
  background-color:#133e1d;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 16px;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.back-button a:hover {
  background-color:#fed8df;
}

.nav-button {
  text-decoration: none;
  color: #fcf1e3;
  background-color: #133e1d;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  transition: background-color 0.2s ease;
  
}

.nav-button:hover {
  background-color: #fed8df;
}

.nav-button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 20px;
}


/*------------------------*/ 


main {
  max-width: 900px;
  margin: 0 auto;
}

figcaption {
  font-size: 16px;
  color: #704f33;
  margin-top: 5px;
  text-align: center;
  font-style: italic;
}
/* 2 COLUMN GRID STYLING */ 

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  padding: 20px; 
  max-width:1000px;
  margin: 0 auto;
  align-items: start;
}

.image-card { 
  text-align: center;
 }

 .image-card img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
 }

.image-card h3 {
  font-size: 18px;
  color: #4a3e34;
  margin-top: 10px;
  text-decoration: none;
}

.electronics-page .image-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
  align-items: start;
}

.electronics-page .image-card img {
  max-width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.electronics-page .image-card h3 {
  font-size: 18px;
  color: #4a3e34;
  margin-top: 10px;
}

 /*-----------------------*/

/* BODY TEXT */
 p {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 18px;
 }

 body a{ 
  color: #1c5c2a;
  text-decoration: none;
}
/*-------------------------*/


 /* BLOCK QUOTES */ 

 blockquote { 
 font-style: italic;
 margin: 20px;
 padding-left: 20px;
 border-left: 4px solid #133e1d;
 color: #4a3e34 
 }

/*------------------------*/

/* METADATA TABLE */ 
.table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  margin: 20px auto; 
  font-size: 16px;
  background-color:#fcf1e3;
  table-layout: fixed;
}

th, td {
  border: 1px solid  #704f33;
  padding: 12px 16px; 
  text-align: left;
}

th {
  background-color: #133e1d;
  color: #fcf1e3 ;
  font-weight: bold;
  text-align: center;
}

tr:nth-child(even) {
    background-color:#fcf1e3;
}

td {
  padding: 10px;
  border-top: 1px solid #ddd;
}

td a { 
  text-decoration: none;
}

table td:nth-child(1){
  text-align: left;
  font-weight: bold;
}


/* --- FOOTER ---- */ 
footer {
  background-color: #fcf1e3;
  padding: 0;
  color: #704f33;
  font-family: Garamond, serif;
  font-size: 48px;
  display: block;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
  border-top: 1px solid #133e1d;
  margin-top: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding:0;
  margin: 0;
  justify-content; center;
}

.footer-nav a {
  text-decoration: none;
  color: #704f33;
  font-size: 18px;
  transition: color 0.2s ease;
}

.footer-nav a:hover {
  color: #fed8df;
  text-decoration: none;
}

.footer-site-name {
  font-size: 55px;
  font-weight: bold;
  text-align: right;
}

.footer-site-name a {
  text-decoration: none;
  color: #2e6139; 
}

.footer-copy {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  padding: 0 120px;
}

/* LANDING PAGE -- WHAT'S ON? */

.whats-on-section {
  padding: 60px 40px;
  background-color:#2e6139;
  color: #fcf1e3;
  font-family: Garamond, serif;
  text-align: center;
}

.whats-on-section h3 {
  font-size: 36px;
  margin-bottom: 40px;
}

.featured-items {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.item-card {
  background-color: #fcf1e3;
  border: 1px solid #d5cbbf;
  border-radius: 12px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.item-card:hover {
  transform: translateY(-5px);
}

.item-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.item-card h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

.item-card p {
  font-size: 16px;
  color: #704f33;
}

/* STEP INSIDE: browse by category/sub category */

.category-box-vertical {
  max-width: 800px;
  width: 100%;
  margin: 40px auto;
  padding: 60px 20px 20px 20px;
}

.category-box-vertical h2 {
  font-size: 24px;
  font-family: Garamond, serif;
  color: #2e6139;
  margin-bottom: 16px;
  text-align: center;
}

.category-vertical-scroll {
  max-height: 500px; 
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #d2c3b3;
  border-radius: 12px;
  background-color: #fcf1e3;
  padding: 10px;
  scroll-snap-type: y mandatory;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.category-vertical-scroll::-webkit-scrollbar {
  width: 6px;
}
.category-vertical-scroll::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

.category-card-vertical {
  scroll-snap-align: start;
  flex: 0 0 auto;
  text-align: center;
  text-decoration: none;
  color: #704f33;
  transition: transform 0.3s ease;
}

.category-card-vertical:hover {
  transform: scale(1.02);
}

.category-card-vertical img {
  width: 100%;
  height: auto;               
  max-height: 450px;          
  object-fit: contain;       
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.category-card-vertical span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-family: Garamond, serif;
}


/* LEARN MORE BUTTON: on index */
.intro-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2e6139;
  color: #fcf1e3;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3 ease;
}

.intro-button:hover {
  background-color: #fed8df;
}


